<h1>Formulario de contacto</h1>
<form action="">
    <label for="">
        <p>Nombre</p>
        <input type="text">
    </label>
    <label for="">
        <p>Mail</p>
        <input type="email">
    </label>
    <label for="">
        <p>Mensaje</p>
        <textarea name="" id="" cols="30" rows="2"></textarea>
    </label>
    <p>
        <input type="submit" value="Enviar">
        <input type="reset" value="Borrar">

    </p>
 
        
   
</form>
 